@import 'fonts';

section, article, footer, aside {
    display: block;
}

h1, h2, h3, h4, p, ul {
    margin: 0;
}

body {
    font-family: 'ArialMT', sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: white;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.padding_50 {
    padding: 50px;
    box-sizing: border-box;
}

.topheader {
    background-color: #445162;
    max-height: 320px;
    color: #fff;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topheader-left > h1 {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}

.topheader-left > ul {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style: none;
    list-style-image: url('../img/check.png');
}

.topheader-img {
    object-position: center;
    object-fit: cover;
}

main {
    color: #445161;
}

.product {
    display: flex;
    &-text-h2 {
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        padding: 0;
        margin: 0 0 30px 0;
    }
}

.product-text p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 100px 20px 0;
}

.product-text p:last-child {
    margin: 0 100px 0 0;
}

.description-prod {
    background-color: #f5f5f5;
    &-list {
        display: flex;
        padding: 0;
    }
    &-li {
        // background: url('../img/plus.png') 0px 3px no-repeat;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: #333333;
        padding: 0 0 0 43px;
        margin: 0 20px 20px 0;
        box-sizing: border-box;
        max-width: 48%;
        position: relative;
        &::before {
            content: "+";
            display: block;
            width: 30px;
            // height: 30px;
            background-color: #445161;
            position: absolute;
            top: 0;
            left: 10px;
            color: white;
            font-size: 2em;
            text-align: center;
            // font-weight: bold;
            line-height: 20px;
            padding: 5px;
            box-sizing: border-box;
        }
    }
}

.description-prod h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin: 0 0 30px 0;
}

.description-prod ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.screenshots {
    color: #445161;
    &-figure-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-img {
            padding: 0;
        }
    }
}

.screenshots h2 {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin: 0 0 30px 0;
}

.screenshots-figure-group figure {
    margin: 0 auto;
    flex-grow: 1;
    flex-grow: 1;
    max-width: 49%;
    display: flex;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.screenshots-figure-group figcaption {
    padding: 0;
    margin: 0 0 0 15px;
}

.screenshots-figure-group h3  {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 0 12px 0;
}

.screenshots-figure-group p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.review {
    background-color: #f5f5f5;
    padding: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
}

.rewiew-blocks {
    display: flex;
    justify-content: space-between;
    width: 48%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.rewiew-area-blocks-img {
    object-fit: cover;
    border-radius: 50%;
}

.rewiew-blocks__blockpics {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.pic4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: center no-repeat url('../img/6016d8abb458f.jpg');
}

.rewiew-blocks-p {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    width: 80%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #c9c7c7;
    border-radius: 10px;
    position: relative;
}

.rewiew-blocks-p:before {
    content: "";
    display: block;
    border: 13px solid transparent; 
    border-right: 13px solid #c9c7c7;
    position: absolute;
    top: 27px;
    left: -26px;
}

.rewiew-blocks-p__author {
    display: block;
    margin: 5px 0 0 0;
    font-weight: bold;
    font-style: normal;
    color: gray;
}

.buy {
    background-color: #fff;
    padding: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background: left no-repeat url('../img/6016d838e1797.jpg'), 100% no-repeat url('../img/6016d89802139.jpg');
}

.buy h2 {
    color: #445161;
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    text-align: center;
}

.buy-price { 
    width: 300px;
    border: 2px solid #445162;
    box-sizing: border-box;
    background-color: #445162;
    color: #fff;
    margin: 0 45px 0 0;
    border-radius: 5px;
}

.buy-price:last-child() { 
    margin: 0;
}

.buy-price-header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    display: block;
    padding: 16px;
    box-sizing: border-box;
    text-align: center;
} 

.buy-price-digits {
    display: block;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding: 18px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.buy-price-list {
    margin: 0 0 0 18px;
    padding: 18px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.buy-price-button {
    display: block;
    padding: 18px;
    text-align: center;
    background-color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;

    &:hover {
        color: #fff;
        background-color: #445161;
        cursor: pointer;
        border: 1px solid white;
        box-sizing: border-box;
    }

    &:active {
        color: #445161;
        background-color:  #fff;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #445161;
}
  
.footer-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
  
.footer_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}
  
.footer_form input[type="text"],
.footer_form input[type="email"],
.footer_form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:  #ffffff;
    outline: none;
    text-transform: capitalize;
}
  
.footer_form input[type="text"]:hover,
.footer_form input[type="email"]:hover,
.footer_form textarea:hover {
    background-color: gray;
    color: white;
    border-color: white;
}

.footer_form input[type="text"]:hover::placeholder, 
.footer_form input[type="email"]:hover::placeholder, .footer_form textarea:hover::placeholder {
    color: white;
}
  

.footer_form textarea {
    width: 500px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:  #ffffff;
    outline: none;
}
  
input[placeholder], textarea[placeholder] {
    text-overflow:ellipsis;
    color:  #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer_form input[type="submit"] {
    border-radius: 5px;
    background-color:  #fff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    color:  #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}
  
.footer_form input[type="submit"]:hover {
    background-color: gray;
    color: white;
}
  
.footer_form input[type="submit"]:active {
    background-color:  #fff;
    color:  #445162;
}
  
.footer-contacts {
    width: 240px;
    color: white;
}

.footer-contacts a {
    display: block;
    text-decoration: none;
}

.footer-contacts > a:hover {
    text-decoration: underline;
    color: antiquewhite;
    font-weight: bold;
}

.footer-contacts-link {
    display: block;
    color: white;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    position: relative;
}

.footer-contacts-link::before {
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
    color: white;
}

.footer-contacts-link[href^="skype"]:before {
    background-image: url('../img/skype_icon.png');
}

.footer-contacts-link:nth-of-type(2):before {
    background-image: url('../img/icq_icon.png');
}

.footer-contacts-link[href^="mailto"]:before {
    background-image: url('../img/email_icon.png');
}

.footer-contacts-link[href^="tel:"]:before {
    background-image: url('../img/phone_icon.png');
}

.footer-contacts-icons {
    margin: 35px 0 0 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.footer-contacts-icons > a > i:hover {
    color: blue;
}
  
.footer-contacts-net {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    // background-size: contain;
    // background-position: center;
    padding: 2px;
    text-align: center;
    border-radius: 50%;
    background-color: white;

    & i {
        font-size: 37px;
        color:  #445162;
    }
}

.facebook i {
    font-size: 34px;
    box-sizing: border-box;
    padding: 5px 0 0 0;
}

.google i, .youtube i {
    font-size: 28px;
    padding: 5px;
}

.bottom-page {
    background-color: #f5f5f5;
    margin: 0;
    min-height: 26px;
    color:  #445162;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}